


.main-navbarRT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbarRT-btn{
   padding: 10px;
   padding-left: 0px;
   border-radius: 8px;
   cursor: pointer;
   border-style:none;
   border:none;
   color: #ff6200;
    
  }
  .navbarRT-btn:hover{
    color:#ff8a00;
    border-style: solid;
    border-bottom-color: #ff5200;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius: 0px;
    cursor: pointer;
  }
  
  .navbarRT:hover{
    text-rendering: rgb(255, 98, 0);
    text-shadow: 1px 0px rgb(255, 98, 0);
  }
  
  
  .main-navbarRT ul .dropdown-menu-container {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;  
  }
  
  
  