* article:hover{

    box-shadow: 0 0 10px #ff8a00;
   }

body  {
  background-color: #eeede1a8;
  font-family: Lato, sans-serif;
  /*background-image: url("/Desing/imgs/bg1.png");*/
  background-size: auto auto;
  height: 100%;
}

.ind-top-test {
    background-image: url("../assets/images/logo/CERVECERIA-CHEC-RGB-DIGITAL.png");
    background-size: cover;
    background-position: center;
    min-height: 300px;
  }
/*   
.right-content-test {
    display: flex;
    margin: auto;
    padding: 30px 0;
    justify-content: flex-start;
    min-width: 500px;
  }
  .right-content-test .art-3 {
    max-width: 500px;
    margin-left: 50px;
   }
  .right-content-test p {
    font-size: 13px;
  }
  .right-content-test h3 {
    font-size: 14px;
    line-height: 1.5;
    
  } */
  
/* article.art-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 7px;
    padding: 8px;
    border: #949494 1px dotted;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
    background-color: #ebebeb;
    text-align: center;
    width: 40%;
    opacity: 90%;
  } */
  /* article.art-4 h4 {
    font-size: 12px;
    padding-bottom: 2px;
  }
  
  article.art-4 h4.bold {
    margin: 5px 0;
    font-style: italic;
    font-weight: bold;
    color: #ff6200;
  }
  article.art-4 h2 {
    font-size: large;
    padding: 5px 0;
    border-top: #ff8a00 1px double;
    border-bottom: #ff8a00 1px double;
    text-align: center;
  }
  article.art-4 img {
    max-height: 40px;
    max-width: 40%;
    margin: auto;
   
  } */
/*   
  article.art-4 i {
    transition: all 250ms;
     
   }
  
   article.art-4:hover i {
    color:#ff5200; 
    transform: scale(1.5);
   } */
  .card:hover i{
    box-shadow: #ff58ff;
  }

  .card i{
    transition: all 250ms;

   }
  .card-text:hover i {
    color:#ff5200; /*transition*/
    transform: scale(1.5);

  }