.card-body{
  display: flex;
}

.avatar{
  max-width: 300px;
  max-height: 300px;
  width: 150;
  height: 150;
  border-radius: 50%;}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* article:hover{

    box-shadow: 0 0 10px #ff8a00;
   }

body  {
  background-color: #eeede1a8;
  font-family: "Montagu Slab", serif;
  /*background-image: url("/Desing/imgs/bg1.png");*/
  background-size: auto auto;
  height: 100%;
}

.content{
  height:90%;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10%;
}

.enDesarrollo{
  display: flex;
  flex-direction: column;
  margin: 200PX auto;
  align-items: center;

}

h1,h2,h3,h4,h5,h6{
  color: #000;
}

a { text-decoration: none;}

/*HEADER CON FONDO NEGRO*/
.main-header {
  font-family: "Montagu Slab", serif;
  background-color: #000000;
  width: 100%;
}

.logo {
  width: 100px;
}
/*Texto: "Cerveza hecha en casa*/
.text-header {
  font-size: 18px;
  color: #ffda4d;
  text-align: center;
  font-weight: 300;
}

.main-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-navbar a {
  color: #ffffff;
  width: 135px;
  text-decoration: none;
  display: inline-block; /*convierte las lineas de la lista en bloque para poder darles un padding*/
  padding: 5px 5px;
  font-size: 12px;
  transition-property: color box-shadow;
  transition-duration: 200ms;
}

.main-navbar a:hover {
  color: #ff6200;
  text-shadow: 10px 10px 20px rgb(255, 255, 255);
}

.main-navbar ul {
  list-style: none;
}

.main-navbar ul .dropdown-menu-container {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: white;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;  
}

.main-navbar ul img{
  width: 30px;
  border-radius: 100%;
  margin: 10px 5px 0px 5px;
}

.main-navbar ul .dropdown-menu-container  li {
  display: inline-block;
}

.main-navbar ul .dropdown-menu-container > li > a{
  display: block;
  justify-content: space-around;
  color: white;
  padding: 5px;
  font-size: 12px;
  margin: 1px auto;
}
.main-navbar ul .dropdown-menu-container li .dropdown-menu {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: black;
}
.main-navbar ul .dropdown-menu-container li:hover .dropdown-menu{
  display: block;
  
}
.main-navbar ul .dropdown-menu-container .dropdown-menu li:hover {
  color: #ff6200;
}
.main-navbar ul .dropdown-menu-container .dropdown-menu li a {
  display: block;
  color: white;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
}
.main-navbar ul .dropdown-menu-container .dropdown-menu li a:hover {
  color: #ff6200;
}

ul.dropdown-menu li a{
  text-align: left;
}

.logo {
  margin: 10px 0;
  flex: 100%;
}

.left-navbar {
  display: none;
}

.rigth-navbar {
  display: none;
}


.ps-div{
  display: flex;
  max-width: 50%;
}

.pd-pc-links{
    display: flex;
    max-width:100px;
}

.hamburguer-button {
  background-color: #ff6200;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  font-size: 18px;
  width: 30px;
  display: inline-block;
  padding: 5px 0;
}

.secondary-navbar {
  background-color: #c4c4c4;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search-bar {
  display: flex;
}

.search-bar input {
  border: 1px;
  margin: 4px 0;
  padding-left: 2px;
}

.lupa {
  padding: 5px ;
  color: #ff6200;
  text-decoration: none;
  background-color: #fff;
  margin: 4px 10px 4px 0;
}


.social-media-bar a {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  text-decoration: none;
  display: inline-block; /*convierte las lineas de la lista en bloque para poder darles un padding*/
  padding: 5px 2px;
  font-size: 17px;
 
}

/*POP UP*/
.suscribe-section {
  position: fixed;
  bottom: 0px;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  transition-property: opacity;
  transition-duration: 200ms;
  z-index: 10;
}
/*FIN POP UP*/

/*FOOTER*/
.main-footer {
  background-color: #000;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  z-index: 10;
  padding-bottom: 40px;
}

.logofooter {
  width: 90px;
  margin: 10px;
}

.suscribe-section{
  display: flex;
  min-width: 300px;
}

.suscribe-container{
  flex-direction: column;
}

.suscribe-text {
  font-family: "Montagu Slab", serif;
  flex: 20%;
  margin-left: 5px;
  margin-right: 10px;
}

.suscribe-input-text {
max-width: 500px;
    min-width: 300px;
    height: 40px;
    width: 35%;
}

.suscribe-container{
  display: flex;
  max-width: 1000px;
  
}

.suscribe-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  margin: 5px 5px;
  
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  margin: 5px 5px;
  transition-property: color box-shadow;
  transition-duration: 150ms;
}

.footer-links a:hover {
  color: #ff6200;
  text-shadow: 10px 10px 20px rgb(255, 255, 255);
}

.footer-social-media {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  margin: 5px 5px;
}

.footer-social-media a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  margin: 5px 5px;
  transition-property: color box-shadow;
  transition-duration: 150ms;
}

.footer-social-media a:hover {
  color: #ff6200;
  text-shadow: 10px 10px 20px rgb(255, 255, 255);
}

.copyright {
  background-color: #000000;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  display: block;
  border-top: 1px solid white;
}
/*Pagina de Login*/

.lg-div-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 50vw;
  max-width: 300px;
  margin: 15px auto;
}

.lg-div-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.lg-form-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.lg-input{
  margin:10px auto;
  padding: 4px;
  width: 100%;
  max-width: 300px;
}

.lg-button{
  padding: 5px;
  margin: 5px;
  font-family: "Montagu Slab", serif;
  background-color: #c4c4c4;
  color: #000000;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 200ms;
}

.lg-button:hover {
  background-color: #000000;
  color: #ff6200;
}

.lg-a{
    color: #000;
    display: inline-block;  /*convierte las lineas de la lista en bloque para poder darles un padding*/
    font-size: 15px;
    font-weight: 600;
    transition-property: color, box-shadow;
    transition-duration: 200ms;  
}

.lg-a:hover {
  color: #ff6200;
}

.lg-submit {
  padding: 5px;
  margin: 5px;
  font-family: "Montagu Slab", serif;
  background-color: #000000;
  color: #ffda4d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color;
  transition-duration: 200ms;
}

.lg-submit:hover {
  color: #ff6200;
}


/*Pagina Register*/
.is-invalid {
  border: 1px red solid;

}
.text-danger {
  color: #dc3545 !important;
  font-size: 12px;
}

section label h3{
  text-align: center;
  margin-top: 15px;
  color: #ff5200;

}

form div label > b {
  font-weight: normal;
  margin: 15px 0 15px 5px;
  
    

}
.rg-form{
   width: 360px;
   display: block;
   justify-content: center; 
   margin: 15px auto;
   padding: 20px 30px;
   background-color: rgba(102,102,102,0.32);
}

.rg-input{
  margin: 5px auto;
  display: flex;
  padding: 4px;
  width: 100%;
  max-width: 300px;
  align-items: center;
  justify-content: space-evenly;
}

.rg-form [type="submit"], .rg-form [type="reset"]{
  padding: 5px;
  margin: 5px;
  width: 100px;
  font-family: "Montagu Slab", serif;
  background-color: #000000;
  color: #ffda4d;
  border: none;
  border-radius: 4px;
  align-items: right;
  cursor: pointer;
  transition-property: color;
  transition-duration: 200ms;
}

.rg-form [type="submit"]:hover,[type="reset"]:hover {
color: #ff6200;
}

.rg-btn-div{
  display: flex;
  flex-direction: column;
}

/*Pagina de Profile*/
.pr-form{
  background-color: rgba(102,102,102,0.32);
  border-radius: 5px;
  margin: 15px auto;
  text-align: center;
}
.pr-form img{
  max-width: 100px;
  margin-top: 10px;
}

/* Página Product Page*/

.pd-main {
  width: 90%;
  margin: 0 auto;
}

main h2 .pd-titulo {
  font-style: bold;
  font-size: 20px;
  line-height: 28px;
}

.pack-customized,
.pd-product,
.pc-product {
  margin: 10px;
  font-family: "Montagu Slab", serif;
  box-shadow: 0 0 10px rgb(100, 100, 100);
}


.pd-img-product {
  width: 100%;
  padding: 10px;
  max-width: 250px;
}


.pd-datos-cerveza {
  border-top: 1px solid #ebebeb;
  text-align: center;
  padding: 15px;
  font-family: "Montagu Slab", serif;
}

/* Fin página Product Page*/

/* Página Product Detail*/  

.pd-product-area {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.pd-product-area .pd-product-info h4,
.pd-product-area .pd-product-info > p {
  margin: 15px 0;
}

.pd-product-area .pd-product-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}

.pd-product-area .pd-product-form [type="checkbox"] {
  margin: 4px;
  padding: 5px;
}
.pd-product-area .pd-product-form h4 {
  padding: 4px 0;
  margin: 4px 0;
}

section .pd-product-imgs {
  align-items: flex-start;
  margin: 25px auto;
  flex: 30%;
  width: 80%;
  text-align: center;
}

section .pd-product-info {
  align-items: flex-start;
  flex: 40%;
  margin: 10px;
  font-family: "Montagu Slab", serif;
  /*width: 100%;*/
}
.pa-li-element {
  list-style-type: none;
}
section div .pd-beer-attributes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  font-family: "Montagu Slab", serif;
} 

section div .pd-beer-attributes li {
  justify-content: left;
  list-style-type: none;
  align-items: baseline;
  display: flex;
  padding: 3px;  
} 
 section div .pd-beer-attributes li p, section .pd-sub-total-amount {
  margin-left: 8px; 
} 

section .pd-sub-total {
  display: flex;
  align-items: baseline;
}

section .pd-product-imgs img {
  width: 100%;
  padding: 15px;
  max-width: 350px;
}

section div .pd-product-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  width: 350px;
}
section div .pd-product-form .pd-quantity .pd-counter {
  justify-content: right;
  flex-wrap: nowrap;
  width: 90px
}

section div .pd-product-form .pd-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
  flex-wrap: nowrap;
}


section div .pd-product-form .pd-quantity .quantity-label {
  align-items: start;
  width: 160px;
}

section div .pd-product-form .pd-quantity input[type="button"] {
  padding: 0 5px;
  min-width: 25px;
  height: 25px;
  border: 1px solid #c4c4c4;
  background: transparent;
  box-shadow: none;
}

section div .pd-product-form .pd-quantity input[type="number"] {
  width: 30px;
  height: 25px;
  border-radius: 0;
  border: 1px solid #c4c4c4;
  border-right: none;
  border-left: none;
  text-align: center;
}

section div .pd-product-form .pd-quantity .minus {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

section div .pd-product-form .pd-quantity .plus {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

section div .pd-product-form .pd-quantity h5 {
  width: 80px;
  text-align: right;
}

.pd-product-area .pd-product-info .pd-options, .pd-pack-area .pd-pack-container-right .pd-pack-selected .pd-options {
  display: flex;
  flex-direction: row-reverse;
}

.pd-product-area .pd-product-info p, .pd-product-area .pd-product-info .pd-options {
  max-width: 500px;
  margin: 3px ;
  justify-content: center;
}

.pd-beer-attributes li h5 {
  width: 100px;
}

article .pd-seleccionar, .pd-add, .pd-product-area .pd-options button, .pd-options button {
  padding: 5px;
  margin: 5px;
  font-family: "Montagu Slab", serif;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  align-items: right;
  cursor: pointer;
  display: inline-block;  /*convierte las lineas de la lista en bloque para poder darles un padding*/
  transition-property: color, box-shadow;
  transition-duration: 200ms;  
}

article .pd-seleccionar a, .pd-buy a, .pd-add a, .pd-pack-selected .pd-options button a {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition-duration: 200ms;
  font-size: 13px;
  font-weight: normal;
}


article .pd-seleccionar:hover, .pd-add:hover {
color: #ff6200;
}

.pd-admin{
  padding: 5px;
  margin: 5px;
  font-family: "Montagu Slab", serif;
  background-color: #ff6200;
  color: white;
  border: none;
  border-radius: 4px;
  align-items: right;
  cursor: pointer;
  display: inline-block;  /*convierte las lineas de la lista en bloque para poder darles un padding*/
  transition-property: color, box-shadow;
  transition-duration: 200ms;  
}
.pd-admin-a:hover{
  color:#FFF;
}

.pd-admin-a{
    color: #000;
    /*display: inline-block;  /*convierte las lineas de la lista en bloque para poder darles un padding*/
    font-size: 15px;
    font-weight: 550;
    transition-property: color, box-shadow;
    transition-duration: 200ms;  
}

.pa-Alinear_texto_Derecha{
  text-align:right
}

.pa-div-add-btn{
  /*position: relative;
  float: right;*/
  right: 100px;
  align-content: right
}

.pa-add-btn{
  /*position: fixed;
  width:100%;
  max-width:1200px;*/
  align-content: right

}

.pd-david{
  right: 100px;
}
/* FIN Página Product Detail*/

.fa-brands, .fab, .far {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  padding-left: 5px;
}
.fa-brands:hover, .fab:hover, .far:hover{
  color: #ff5200;
} 

.pc-img-product {
  width: 100%;
}
.pc-quantity{
margin: 15px auto;
padding: 0 10px;
}

.pc-quantity-label{
    width: 60px;
}
.pc-quantity-label-det{
    width: 330px;
    margin: 10px 25px;
    padding: 0 0 0 30px;
  }
  
/*Product-Cart*/
.pc-quantity-label{
width: 260px;  
border-style: none;
box-shadow: none;
}

.pc-quantity-label{
  width: 60px;}

.pc-product-quantity{
  width: 60px;
  margin: 20px 0;
}

.pc-product-cantidad {
  width: 250px;
}
.fas fa-minus {
  margin-top:10px ;
}

.pc-product-group{
  display: flex;
}

.pc-product-cantidad,
.pc-product {
  flex-direction: column;
}
.pc-product-label{
width: 200px;
margin: 15px auto;
padding: 0 10px;
}

.pc-botton-inv{
    height: 12px;
}

.pc-label-envio{
    text-align: right;
    margin-right: 20px;
}

.pc-options {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0 ;
  align-items: center;
  justify-content: center;
}
.pc-label-envio{
  margin-right:5px ;
}
.pc-label-envio-direccion{
  font-weight: bold;
  margin-right: 75px;
}
.pc-txtLabel-totalenvio{
  font-weight: bold;
}

.pc-label-totalenvio{
    margin-right:5px ;
}

.pc-options-button {
  padding: 5px;
  margin: 5px 25px;
  font-family: "Montagu Slab", serif;
  background-color: #000000;
  color: #ffda4d;
  border: none;
  border-radius: 4px;
  align-items: right;
  cursor: pointer;
  width: 200px;
}
.pc-bottom-content{
    display: flex;
    flex-direction: column;
}

.pc-label-total-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px 30px 0;
}

.pc-shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.pc-shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}
.pc-btn-danger {
  color: #fff;
  background-color: #ff5200;
  border-color: #ff5200;
}
.pc-row, .subtotal {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
 align-self: baseline;
 margin-top: 10px;
}

.shopping-cart-item, .shopping-cart-quantity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.shopping-cart-item-title {
  margin: 20px;
}

.shopping-cart-item-title {
 align-self: right;
}


.fa-brands, .fab, .far {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  padding-left: 5px;
}
.fa-brands:hover, .fab:hover, .far:hover{
  color: #ff5200;
} 


.pc-product-cantidad input[type="button"] {
  padding: 0 5px;
  min-width: 25px;
  height: 25px;
  border: 1px solid #c4c4c4;
  background: transparent;
  box-shadow: none;
}

.pc-product-cantidad input[type="number"] {
  width: 30px;
  height: 25px;
  border-radius: 0;
  border: 1px solid #c4c4c4;
  border-right: none;
  border-left: none;
  text-align: center;
}

.pc-quantity .minus {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

.pc-quantity .plus {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

.pc-counter{
  display: flex;
  flex-wrap: wrap;
  /*align-items: flex-start;*/
  width: 100%;
  justify-content: space-around;
  margin: 5px 5px;
}
.pc-counter-label-det-label
{
  padding: 3px 0px;
 }
 .pc-counter-label-det-label2
{
  padding: 3px 1px;
  font-weight: bold;
 }
.pc-counter-labelText-det-Label
{
  font-weight: bold;
  padding: 3px 0px;
  width: 50px;
  margin: 1px 1px 1px 1px;
}

.pc-counter-label-det-valor{
  font-weight: bold;
  padding: 2px 0px;
  width: 80px;
  margin: 1px 5px 1px 1px;
  text-align: center;
}
.pc-counter-labelText-det-valor{
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  align-items: flex-start;
  width: 45%;
  justify-content: space-around;
  margin: 18px 26px;
}
.pc-counter-ResumenCompra{
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  /*align-items: flex-start;*/
  width: 100%;
  justify-content: flex-end;
  margin: 18px 26px;
}
.pc-product{
display: flex;
justify-content: space-around;
margin: 10px 5px;
max-height: 200px;
}
.pc-eliminarlg-a{
margin: 20px 0;
}
.fas fa-trash-alt{
  margin: 20px 0;
}
.pc-eliminar-a{
  margin: 20px 0;
  height: 25px;
  cursor: pointer;
}

.pc-product-carrito{
  width: 200px;
}

.pc-quantity-botones{
  display: flex;
  justify-content: center;
}
.pc-contenedor-quantity-botoon{
margin: 20px 5px;
width: 300px;
padding: 0 5px;
}

.pc-quantity-descripcion{
  display: flex;
  text-align-last: center;
}

.pc-ResumenCompra-Titulo{
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Montagu Slab", serif;
  font-size: 14pt;
  font-weight: bold;
  max-width: 95%;
}
.pc-ResumenCompra{
  background-color:#eee ;
}
.pc-ResumenCompra-detalle{
  padding: 20px 0 ;
}

.pc-ResumenCompra-detalle-texto{
  padding: 0 20px;
  font-size: 12pt;
  font-weight: bold;
}
.pc-ResumenCompra-Titulo-caja-texto{
  background-color:#eee ;
  border: 0;
  text-align: right;
  padding: 20px 0;
  width: 180px;
  font-size: 12pt;
  font-weight: bold;
  font-family: "Montagu Slab", serif;
  outline: none;
}
.pc-ResumenCompra-Subtotal{
  display: flex;
  flex-wrap: nowrap;
  width: 380px;
}
.pc-ResumenCompra-Subtotal-texto{
  display: flex;
  flex-direction: column;
  width: 150px;
}
.pc-ResumenCompra-Subtotal-valores{
  display: flex;
  flex-direction: column;
  width: 150px;
}

.pc-direccionEnvio{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.pc-direccionEnvio-valor{
  display: flex;
  flex-direction: column;
  font-family: "Montagu Slab", serif;
}

.pc-direccionEnvio-detalle{
  display: flex;
  flex-direction: column;
  font-family: "Montagu Slab", serif;
}
.pc-DireccionEnvio-Titulo-caja-texto{
  font-family: "Montagu Slab", serif;
  margin: 10px 5px;
}
.pc-direccionEnvio-detalle-texto{
  display: block;
  margin: 10px 5px;
}

/*PACK PERSONALIZADO*/
.pd-pack-area {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Montagu Slab", serif;
  max-width: 95%;
}

.pd-pack-area .pd-pack-container-left, .pd-pack-area  .pd-pack-container-right {
  margin: auto;
  max-width: 95%;
} 

.pd-pack-area .pd-pack-container-left .pd-pack-info, .pd-pack-area .pd-pack-container-left .pd-pack-choice {
  align-items: flex-start;
  flex: 40%;
  margin: 10px;
  font-family: "Montagu Slab", serif;
  width: 100%;
}

.pd-pack-area .pd-pack-container-left .pd-pack-info h4, .pd-pack-area .pd-pack-container-left .pd-pack-choice h4, .pd-pack-area .pd-pack-container-right h4 {
  padding: 20px 20px 20px 0px;
}

.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-500ml,
.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-1l {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  border: solid 1px #ffda4d;
  position: relative;
  left: 0%;
  top: 0%;
  max-width: 80%;
}
.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-500ml,
.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-1l {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  border: solid 1px #ffda4d;
  position: relative;
  max-width: 80%;
}
.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-500ml {
  left: 0px;
  top: 0px;
}
.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-1l {
  left: 0px;
  top: -160px;
  opacity: 0;
}

.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-500ml label,
.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-1l label {
  padding: 3px 0;
}

.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-500ml > label,
.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-1l > label {
  margin-top: 10px;
}

.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-500ml button,
.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-1l button {
  padding: 3px;
  margin: 10px;
  font-family: "Montagu Slab", serif;
  background-color: #ffda4d;
  color: #ff8a00;
  border: none;
  border-radius: 4px;
  align-items: right;
  cursor: pointer;
  width: 60px;
  position: absolute;
  top: -25px;
}

.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-500ml button {
  left: 15px;
}
.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-1l button {
  left: 85px;
}
.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-500ml [type="radio"] ,
.pd-pack-area .pd-pack-container-left .pd-pack-choice .pd-pack-form .pd-pack-1l [type="radio"] {
  margin: 4px;
  padding: 5px;
}

.pd-pack-area .pd-pack-container-right .pd-pack-selected {
  margin: auto;
}

.pd-pack-area .pd-pack-container-right .pd-pack-selected .pd-product-form-container {
  margin: auto;
}
.pd-pack-area .pd-pack-container-right .pd-pack-selected .pd-product-form-container .pd-product-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}

/*FIN PACK PERSONALIZADO*/

/* Quienes somos*/

.pd-quienes-somos-area {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px;
  text-align: center;
}

section .pd-quienes-somos-right, section .pd-quienes-somos-left {
  display: flex;
  flex: 40%;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background-color: #ebebeb;
  margin: 10px;
}

.qs-img-container {
  padding: 10px 0 20px 0;
  margin: auto;
}
.pd-quienes-somos-right img, .pd-quienes-somos-left img {
  max-width: 400px;
  margin: auto;
}
.pd-quienes-somos-right div, .pd-quienes-somos-left div {
  align-items: flex-start;
  flex: 40%;
  font-family: "Montagu Slab", serif;
  width: 95%;
}

.pd-quienes-somos-right div h6, .pd-quienes-somos-left div h6 {
  font-size: 1em;
  padding: 20px 0 10px 0;
  margin: auto;
}

.pd-quienes-somos-right div p, .pd-quienes-somos-left div p {
  max-width: 500px;
  padding: 10px 20px;
  margin: auto;
  text-align: justify;
}
/* Fin Quienes somos*/

/* NUESTRAS RECETAS*/
.add-receta {
  display: flex;
  width: 100%;
}
.add-receta-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
  justify-content: right;
}

.nr-details-container {
  width: 100%;
}
.receta-name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #ffda4d;
  margin: 10px 0 0;
  border-top-right-radius: 10px;
  justify-content: space-between;
  align-items: center
}
.receta-name-container button {
  align-content: right;
}
.nr-display-btn {
  align-self: end;
  padding: 5px;
  margin: 5px;
  font-family: "Montagu Slab", serif;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  align-items: right;
  cursor: pointer;
  display: inline-block;  /*convierte las lineas de la lista en bloque para poder darles un padding*/
  transition-property: color, box-shadow;
  transition-duration: 200ms;  
}

.nr-display-btn a {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition-duration: 200ms;
  font-size: 13px;
  font-weight: normal;
}

.nr-display-btn:hover {
  color: #ff6200;
}

.nr-buton-container {
  display: flex;
  justify-content: right;
}

.receta-container {
  display: none;
  border-right: 2px solid #ffda4d;
  border-left: 2px solid #ffda4d;
  border-bottom: 2px solid #ffda4d;
}
.nr-main-containter {
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  margin-bottom: 20px;
}
.receta-name {
  text-align: left;
  padding: 15px;
  font-size: 20px;  
  display: inline-block;
  width: 200px;
}
.nr-edit {
  align-self: end;
}
.pd-admin i {
  padding: 0 3px;
}
.nr-beer-attributes li {
  display: flex;
  justify-content: left;
  list-style-type: none;
  align-items: baseline;
}

.nr-beer-attributes li h5 {
  width: 150px;
}
.nr-information-container {
  display: flex;
  flex-direction: column;
}

.nr-tip {
  background-color: #c4c4c4;
  margin: 10px 10px 30px 10px;
  padding: 10px;
  max-width: 500px;
  
}

.nr-process-container div {
  background-color: #c4c4c4;
  width: 100%;
  padding: 10px;
}

.nr-tip h4, .nr-process-container h4 {
  margin: 5px;
}
.nr-process-container {
  border: solid 1px #c4c4c4;
  margin-top: 10px; 
 }

.nr-process-container p {
  margin: 10px;
}
.nr-information {
  margin: 0 10px;
}
.nr-information h4{
  margin: 10px 0 0 0;
  color: #541e00;
}
.nr-beer-attributes .nr-ingredients-list {
  display: block;
}
.nr-ingredients-list h6 {
  font-size: 14px;
}

.ra-admin-container {
  padding: 20px 40px;
}
.ra-admin-container h3 {
  margin: 10px 0;
}

.ra-name {
  display: flex;
  align-items: center;
  background-color: #ffda4d;
  border-top-right-radius: 10px;
}
.ra-information {
  padding-left: 10px;

}

div .ra-receta-container {
  border-right: 2px solid #ffda4d;
  border-left: 2px solid #ffda4d;
  border-bottom: 2px solid #ffda4d;
  padding: 10px 15px;
}
.ra-information h4 {
  margin: 10px 0;

}
.ra-information ul li h6 {
  width: 250px;
  font-size: 14px;
}

.ra-beer-attributes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  font-family: "Montagu Slab", serif;
}

.ra-beer-attributes li {
  justify-content: left;
  list-style-type: none;
  align-items: baseline;
  display: flex;
  padding: 3px;  
}

.ra-information-attributes  h6{
  padding: 10px 0;
}
.ra-li-malt, .ra-li-hop {
  list-style-type: none;
  padding:0 3px;  
  background-color: white;
  border: 1px solid #c4c4c4;
  margin: 5px 5px 15px 5px;
  padding: 10px 5px;
  border-radius: 5px;

}
.ra-li-hop p {
  width: 170px;
}
.ra-information-attributes li div {
  display: flex;
 
  padding: 3px 20px;
 
}
.ra-information-attributes li p {
  width: 100px;
  justify-content: left;
  font-size: 13px;
  margin: 0 5px 0 5px;
}
input, .ra-name p input {
  border-radius: 3px;
  margin-right: 20px;
  border: 1px solid #c4c4c4;
  padding:2px;
  width: 30%;
}
.ra-tip-container {
  display: flex;
  background-color: #c4c4c4;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.ra-tip {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 30px;
}
.ra-tip h4 {
  padding: 10px 0;
}
.ra-tip p {
  display: flex;;
  flex-direction: column;
}

.ra-tip input {
  height: 200px;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #aaa9a9;
  padding:2px;
}


/* Fin NUESTRAS RECETAS*/

    
/*°°°°°°°°° INDEX °°°°°°°°°°°*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/*index-top*/
section.ind-top {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
  border-bottom: 5px #949494 solid;
  border-top: 2px #949494 solid;
}
.ind-top-test {
  background-image: url("../images/logo/CERVECERIA-CHEC-RGB-DIGITAL.png");
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.right-content-test {
  display: flex;
  margin: auto;
  padding: 30px 0;
  justify-content: flex-start;
  min-width: 500px;
}
.right-content-test .art-3 {
  max-width: 500px;
  margin-left: 50px;
 }
.right-content-test p {
  font-size: 13px;
}
.right-content-test h3 {
  font-size: 14px;
}

/*slider index-top*/
.slider {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 10;
  width: 400%;
  animation: change 20s infinite alternate;
  animation-timing-function: ease-in;
}
.slider li {
  width: 50%;
  list-style: none;
}
.slider img {
  width: 100%;
  max-height: 300px;
}

@keyframes change {
  0% { margin-left: 0;}
  20% { margin-left: 0;}

  25% { margin-left: -100%;}
  45% { margin-left: -100%;}

  50% { margin-left: -200%;}
  70% { margin-left: -200%;}

  75% { margin-left: -300%;}
  100% { margin-left: -300%;}
}


/*slider index-top*/


  /*seccion Media*/
  
  section.ind-bottom {
    display: flex;
  }
  section.ind-middle {
    margin: 10px 0;
  }
  div.left-content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 250px;
    margin-left: auto;

  }
  div.best {
    width: 285px;
    height: 250px;
    border: #000 8px solid;
    border-radius: 100%;
    box-shadow: 0 0 10px #FF08;
    text-align: center;
    background-color: #FF6208;
  }
  div.best img{
    width: 85%;
    
  }
  
  /*CONTENEDOR PADRE lado derecho*/
  div.right-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
    
  }
 /* texto del body lado derecho "cuando abrimos una..."*/
  article.art-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
    padding: 20px;
    border: #949494 1px dotted;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
    background-color: #ebebeb;
    text-align: center;
    width: 80%;
    opacity: 90%;
  }
  article.art-3 h4 {
    font-size: 12px;
    padding-bottom: 2px;
  }
  
  article.art-3 h4.bold {
    margin: 5px 0;
    font-style: italic;
    font-weight: bold;
    color: #ff6200;
  }
  article.art-3 h3 {
    padding: 5px 0;
    border-top: #ff8a00 1px double;
    border-bottom: #ff8a00 1px double;
    text-align: center;
  }
  article.art-3 img {
    max-height: 40px;
    max-width: 40%;
    margin: auto;
   
  }

  article.art-3 i {
    transition: all 450ms;
     
   }

   article.art-3:hover i {
    color:#ff5200; /*transition*/
    transform: scale(1.5);
   }
  div.best:hover, div.best button:hover{
    box-shadow: 0 0 10px #000;
    transform: scale(1.015);
    transition: all 450ms;
   }

/* section middle-bootom*/
section.bottom-content{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 5px #949494 solid;
  margin: 40px 10px;
  justify-content: center;
}
div.bottom-content{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-evenly;
  width: 95%;

}
   /*botones de la seccion 3*/
   .ind-map-env-pag {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 26%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    padding: 5px 5px auto 15px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: black 0 0 10px;
    height: 90px;
    text-align: center;
    background-color: #ff8a00;
    color: #ffffff;
    cursor: pointer;
  }
  
  a.ind-bottom {
    color: white;
  }
  .ind-map-env-pag:hover {
    color: #541e00;
    text-shadow: 10px 10px 20px rgb(255, 255, 255, 0.8);
    transform: scale(98%);
  }


  /* Página Product Page*/

  .pack-customized,
  .pd-product {
    flex: 30%;
    margin: 40px;
    text-align: center;
  }

  main .pd-tienda {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  main .pd-titulo {
    margin: 20px;
    font-size: 12pt;
  }

  .pc-direccionEnvio{
    border-top: 5px #949494 solid;
    margin: 10px auto;
    padding: 1px 1px;
  
  }
/*#########################################################################################/*/
/*################## MEDIA 361  ############################################/*/
/*#########################################################################################/*/

@media (min-width: 361px) {
  .pc-quantity-label{
    width: 160px;  
    }


  .pc-quantity-label {
      border: 0;
 }
 .main-header-top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* SINO SPACE-BETWEEN que distribuye los elemntos de la barra de una manera homogenea*/
    height: 100px;
  }

  .logo {
    width: 150px;
  }

  .text-header {
    max-width: 350px;
    text-align: right;
  }
  .hamburguer-button {
    display: none;
  }
  .main-navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
  }
  .left-navbar {
    /*pone los elementos de la lista en linea*/
    display: flex;
    width: 100%;
    margin: 0 15px;
    flex-direction: column;
    align-items: flex-start;
  }
  .rigth-navbar {
    /*pone los elementos de la lista en linea*/
    display: flex; 
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-navbar-dropdown-menu-container {   
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .main-navbar-dropdown-menu-container li img {
    width: 35px;
    border-radius: 100%;
  }
  .main-navbar-dropdown-menu-container ul > li > a{
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
  }
  .main-navbar-dropdown-menu ul:hover {
    background-color: white;
  }

  .main-navbar-dropdown-menu {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(0, 0, 0)
  }
  .main-navbar-dropdown-menu-container li:hover .main-navbar-dropdown-menu{
    display: block;
  }
  .main-navbar-dropdown-menu li:hover {
    background-color: #000000;
  }
  .main-navbar-dropdown-menu li a {
    display: block;
    color: black;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
  }
  .main-navbar-dropdown-menu li a:hover {
    color:white;
  }

  .secondary-navbar {
    justify-content: space-around;
  }


  .suscribe-bar {
    width: 50%;
  }
  
  .suscribe-text {
    font-size: 10pt;
  }
  /*Register*/
  .rg-btn-div{
    flex-direction: row;
  }
 

/*xxxxxxxxxxxxxxxxxx/FOOTER/xxxxxxxxxxxxxxxxxxxxxx*/
  .secondary-navbar {
    justify-content: center;
  }

  .main-footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .div-content-logoFooter {
    flex: 100%;
    padding: 0px 125px;
    text-align: center;
    margin: 0 auto;
  }

  .footer-links {
    flex: 40%;
  }
  .footer-social-media {
    flex: 50%;
    align-items: flex-end;
  }

  .footer-social-media a{
    font-size: 13px;
  }
  .pc-product-cantidad,
  .pc-product-cantidad{
    display: flex;
    justify-content: space-between;
    width: auto;
  }

 .pc-product {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*flex-wrap: wrap;*/
  }

    
/*°°°°°°°°° INDEX °°°°°°°°°°°*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°*/

.ic-ind-top {
  margin: 0;
}
.ic-reel-banner {
  width:100%
}
.ic-reel-banner img {
  width: 100%;
  max-height: 300px;
  opacity: 80%;
}
/*index-top*/


section.ind-top {
  display: flex;
  flex-wrap: wrap; /*REVISAR ESTO DEL REEL*/
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
  border-bottom: 5px #949494 solid;
  border-top: 2px #949494 solid;
}


/*Product-Cart MEDIA 361*/
  .pc-options-button{
    margin-bottom: 0 20px 0 0;
  } 

  .pc-product-carrito {
    margin: 15px;
    padding: 0 10px;
  }

  .pc-product-cantidad {
    margin: 15px auto;
    padding: 0 10px;
  }
  .pc-product-precio {
    margin: 15px auto;
    padding: 0 10px;
  }
  .pc-eliminar {
    margin: 2px 10px;
    height: fit-content;
  }

  .pc-product-label{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .pc-quantity{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .pc-cart {
    display: flex;
    flex-wrap: wrap; /*REVISAR ESTO DEL REEL*/
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5px;
    border-bottom: 5px #949494 solid;
    border-top: 2px #949494 solid;
  }

  .pc-bottom-content{
    display: flex;
    border-bottom: 5px #949494 solid;
    margin: 40px 10px;
    justify-content: center;
    padding: 30px;
  
  }

  .pc-bottom-content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .pc-quantity-botones{
    flex-wrap: nowrap;
    justify-content: center;
  }
  .pc-counter{
    border-top: 5px #949494 solid;
  }

  .pc-ResumenCompra {
    border-top: 5px #949494 solid;
    margin: 40px auto;
    padding: 10px 11px;
  }
.pc-direccionEnvio{
  border-top: 5px #949494 solid;
  margin: 40px auto;
  padding: 10px 11px;

}

}
    
/*#########################################################################################/*/
/*############# MEDIA 760  ############################################/*/
/*#########################################################################################/*/

@media (min-width: 760px) {
  .main-navbar {
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
  }

  .logo {
    width: 50px;
    flex: 10%;
  }

  .main-navbar ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
  }

  .left-navbar {
    /*pone los elementos de la lista en linea*/
    display: flex;
    width: 100%;
    margin: 0 15px;
    flex-direction: row;
    align-items: flex-start;
  }
  .rigth-navbar {
    /*pone los elementos de la lista en linea*/
    display: flex;
    width: 100%;
    margin: 0 15px;
    flex-direction: row;
    align-items: flex-end;
  }
  .rigth-navbar li {
    text-align: center;
  }

  

  /*°°°°°°°  FOOTER Y SUSCRIBE °°°°°°°°°°°°°*/
  /*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

  .div-content-logoFooter {
    flex: 3%;
    padding: 10px 0;
    text-align: left;
    margin: 0 auto;
  }

  .suscribe-container{
    flex-direction: row;
  }

  .suscribe-bar {
    width: 45%;
  }

  .suscribe-text {
    font-size: 12pt;
  }

  .footer-links {
    flex: 30%;
  }
  .footer-social-media {
    flex: 30%;
    align-items: flex-end;
  }

/*°°°°°°°  PRODUCT CART °°°°°°°°°°°°°*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

  .pc-product-cantidad,
  .pc-product {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*flex-wrap: wrap;*/
  }

  .pc-product-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .pc-product-cantidad-combinada {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
  }

  .pc-quantity-botones{
    flex-wrap: nowrap;
  }
/*°°°°°°°°°°°  INDEX  °°°°°°°°°°°*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

/*index-top*/

body.ind-body {
  background-size: 30%;
}

section.ind-middle,
section.ind-bottom {
  display: flex;
  margin: 10px 0;
}
section.ind-bottom{
  border-bottom: 5px #949494 solid;
}

div.left-content {
  width: 300px;
  max-height: 350px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
}


/*CONTENEDOR lado derecho*/
div.right-content {
  flex-direction: initial;
  justify-content: space-evenly;
  margin: 10px 20px;
 
}

/* texto  "cuando abrimos una..."*/
article.art-3 {
  order: -1;
}

div.bottom-content{
  width: 90%;
}


/*botones de la seccion 3*/
.ind-map-env-pag {
  width: 15%;
  border-radius: 28px;
  padding: 15px 15px auto 15px;
}


/* PACK PERSONALIZADO */
.pd-pack-area .pd-pack-container-left, .pd-pack-area .pd-pack-container-right {
  width: 40%;
}
/* FIN PACK PERSONALIZADO */

/* Media 760 NUESTRAS RECETAS*/
.nr-information-container {
  flex-direction: row;
}
.nr-information-block {
  flex: 55%;
  display: flex;
  padding: 10px;
}
.nr-tip-container {
flex: 30%;
padding: 10px;
}

/* Fin Meddia 760 NUESTRAS RECETAS*/


}
/*#########################################################################################/*/
/*################ MEDIA 1200 ############################################/*/
/*#########################################################################################/*/

@media (min-width: 1200px) {
  .logo {
    width: 140px;
  }

  .main-header-top-bar {
    align-items: center;
  }
  .main-header-top-bar,
  .main-navbar,
  .main-footer {
    max-width: 1400px;
    margin: auto;
  }
  .text-header {
    margin: 0;
    max-width: none;
    text-align: center;
  }
  .main-navbar li {
    /*pone espacios entre los elementos de las listas */
    margin: 0 10px;
  }
  .main-navbar a {
    font-size: 14px;
  }

  .suscribe-bar {
    width: 50%;
  }
  .suscribe-text {
    font-size: 15pt;
  }

  /*FOOTER*/
  div.footer-topbar {
    max-width: 1400px;
    margin: auto;
  }
  footer {
    background-color: #000000;
  }

  /* Página Product Page*/

  .pd-main {
    max-width: 1200px;
  }
  .pack-customized,
  .pd-product {
    flex: 25%;
    margin: 30px;
  }

  .pd-main .pd-tienda {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }
  main .pd-titulo {
    margin: 20px;
  }

  .pc-product-cantidad,
  .pc-product {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*flex-wrap: wrap;*/
  }

  .pc-product-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .pc-product-cantidad-combinada {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
  }


/* Quienes somos media min 1200*/

.pd-quienes-somos-area {
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
}   
/* Fin Quienes somos media min 1200*/ 
   
section.ind-top, section.ind-middle, section.bottom-content, section.ind-bottom{
  max-width: 1800px;
  margin: auto;
  
}
section.ind-bottom{
  margin-top: 10px;

}

/* FIN PACK PERSONALIZADO */

/* Media 1200 NUESTRAS RECETAS*/
.nr-main-containter {
  margin: auto;
  max-width: 90%;
  margin-top: 20px;

}
.nr-details-container {
  margin: 10px;
}

.nr-process-container {
  margin: 10px;
  border: solid 1px #c4c4c4;
}


.nr-information {
  flex: 30%;
  padding: 10px 0;
}

.nr-information h4 {
  padding: 10px 0;
}
.pd-beer-attributes h4 {
  font-size: 18px;
  margin: 10px 0;

}
.nr-information p {
  font-size: 14px;
}
.nr-beer-attributes {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
  }
  

  .nr-beer-attributes h4 {
    font-size: 18px;
    margin: 10px 0;
  }
  .nr-beer-attributes h6 {
    font-size: 16px;
  }
  .nr-beer-attributes p {
    font-size: 14px;
  }
} 

.nr-tip-container {
  display: flex;

}






/* Fin Media 1200 NUESTRAS RECETAS*/




/*#########################################################################################/*/
/*#########################################################################################/*/
/*#########################################################################################/*/
