* {
  margin: 0;
  padding: 0
}

:root {
  --primary: #ff4b1d;
  --light: #c4c4c4;
  --grey: #c4c4c4;
}

a:hover {
  text-decoration: none;
}

.bg-light { background-color: var(--light) !important; }
.bg-grey { background-color: var(--grey) !important; }
.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }
.btn-primary { background-color: var(--primary); border: 0;}
.bg-primary-side-bar { background-color: var(--primary) !important; }


#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo{
  padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

#content {
  overflow-y: auto;
  height: 90vh;
  padding-bottom: 5rem;
}

.avatar {
  max-width: 35px;
}

.btn-search {
  right: 0;
}

.stat {
  border-right: 1px solid var(--grey);
}

li{
  list-style: none;
}

.lead2{
flex-wrap: wrap;
margin-right: 15px;
font-size: 1.25rem;
font-weight: 300;
}

.list-group-item2.active {
  z-index: 2;
  color: var(--bs-list-group-active-color);
  background-color: #6c757d;
  border-color: #949494;
  margin: 0px ;
  text-align: center;
}

.avatarFront{
  width:190px;
  margin:10px auto;
  text-align: center;
  border-radius: 50%;

}

article.art-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 7px;
  padding: 8px;
  border: #949494 1px dotted;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  background-color: #ebebeb;
  text-align: center;
  width: 40%;
  opacity: 90%;
}
article.art-4 h4 {
  font-size: 12px;
  padding-bottom: 2px;
}

article.art-4 h4.bold {
  margin: 5px 0;
  font-style: italic;
  font-weight: bold;
  color: #ff6200;
}
article.art-4 h3 {
  padding: 5px 0;
  border-top: #ff8a00 1px double;
  border-bottom: #ff8a00 1px double;
  text-align: center;
}
article.art-4 img {
  max-height: 40px;
  max-width: 40%;
  margin: auto;
 
}

article.art-4 i {
  transition: all 250ms;
   
 }

 article.art-4:hover i {
  color:#ff5200; /*transition*/
  transform: scale(1.5);
 }




@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
  .stat {
      border: 0;
  }

  
}
