* {
  margin: 0;
  padding: 0
}

:root {
  --primary: #ff4b1d;
  --light: #c4c4c4;
  --grey: #c4c4c4;
}



a:hover {
  text-decoration: none;
}


.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary { background-color: var(--primary); border: 0;}

.bg-primary-side-bar { background-color: var(--primary) !important; }



#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo{
  padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

#content {
  overflow-y: auto;
  height: 90vh;
  padding-bottom: 5rem;
}

.avatar {
  max-width: 35px;
}

.btn-search {
  right: 0;
}

.stat {
  border-right: 1px solid var(--grey);
}


@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
  .stat {
      border: 0;
  }
}
